<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "head"}}
        <title>All Blogs</title>
    </head>
    <body class="bg-light">
        {{template "navbar"}}
        <main class="p-16">
            <h1 class="text-3xl">All Blogs</h1>
            <br />
            <div class="flex flex-col gap-8">
                {{range .Blogs}}
                <a href="/blogs/{.Id}">
                    <h2 class="text-2xl">{{.Title}}</h2>
                    <p class="text-xl text-dark line-clamp-1">{{.Content}}</p>
                </a>
                {{end}}
            </div>
        </main>
    </body>
</html>
