{{define "head"}}
<!-- ReCAPTCHA v3 -->
<script src="https://www.google.com/recaptcha/enterprise.js?render=6LcH9kYqAAAAAA13KUvAvKBJmcG9g9xpSsSMFaUz"></script>

<!-- CSS -->
<link rel="stylesheet" href="/static/css/index.css" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"
    rel="stylesheet"
/>
<link
    href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Laila:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
/>

<!-- Metadata -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{end}}
