{{template "base" .}}

{{ define "title" }}Barista - Brew your next blog{{ end }}
{{ define "content" }}
{{ template "navbar" }}
<main
    class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-20 px-4 lg:px-28 pt-20"
>
    <div
        class="flex flex-col gap-12 text-center justify-center lg:justify-start lg:text-start"
    >
        <!-- Tagline -->
        <div class="flex flex-col gap-8">
            <h1
                class="text-6xl font-medium leading-[4rem] font-sans lg:max-w-[450px]"
            >
                Brew your blog with us
            </h1>
            <p class="text-3xl text-dark">
                The complete solution to blog writing, hosting, and deployment
            </p>
        </div>

        <!-- Buttons -->
        <div
            class="flex items-center justify-center lg:justify-start text-2xl gap-16"
        >
            <a
                href="/register"
                class="px-6 py-3 rounded-full bg-primary text-dark"
                >Get Started</a
            >
            <a href="/blogs" class="underline bg-transparent text-dark"
                >Explore</a
            >
        </div>
    </div>

    <!-- Coffee cup -->
    <div class="flex justify-center">
        <img
            src="/static/images/coffee-cup.webp"
            alt="Steaming hot coffee cup clipart"
        />
    </div>
</main>
{{ end }}