<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "head"}}
        <script src="/js/register.js"></script>
        <title>Document</title>
    </head>
    <body class="bg-light">
        {{template "navbar"}}
        <main class="p-16 grid place-items-center">
            <form
                id="register-form"
                method="POST"
                class="flex flex-col gap-8 w-full lg:rounded-lg bg-primary lg:w-[450px] p-16 text-xl"
            >
                <h1 class="text-3xl font-medium text-center">
                    Sign up to Barista
                </h1>

                <label for="username">
                    Username
                    <input
                        id="username"
                        class="rounded-md px-2 py-1 text-lg w-full"
                        type="text"
                        name="username"
                    />
                </label>

                <label for="password" class="w-full">
                    Password
                    <input
                        id="password"
                        class="rounded-md px-2 py-1 text-lg w-full"
                        type="password"
                        name="password"
                    />
                </label>

                <label for="confirmpassword" class="w-full">
                    Confirm password
                    <input
                        id="confirmpassword"
                        class="rounded-md px-2 py-1 text-lg w-full"
                        type="password"
                        name="confirmpassword"
                    />
                </label>

                <button
                    class="g-recaptcha bg-light rounded-full w-full p-2 mt-2"
                    data-sitekey="6LcH9kYqAAAAAA13KUvAvKBJmcG9g9xpSsSMFaUz"
                    data-callback="onSubmit"
                    data-action="register"
                >
                    Register
                </button>
            </form>
        </main>
    </body>
</html>
